body{
    font-family: 'Special Elite', cursive;
    background: linear-gradient(pink,lightblue,purple);
}

.header_div{
    background: white;
    color: black;

}

.header_div p{
    font-family:'Roboto', sans-serif;
    color: rgb(64, 22, 104);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family:'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(28, 16, 197);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}